<%- include('../partials/header') %>

<div id="new-item-form-box">
  <h1>Edit Item Details </h1>
  <form action="/closet/<%= item.id %>?_method=PUT" method="POST" autocomplete="off" >
    <select id="item-dropdown" name="itemType" >
      <option value="T-Shirt">T-Shirt</option>
      <option value="Pants">Pants</option>
      <option value="Shirt">Shirt</option>
      <option value="Boots/Shoes">Boots/Shoes</option>
      <option value="Hat">Hat</option>
      <option value="Jacket">Jacket</option>
    </select> 
    <input class="new-item-input" type="text" name="brand" placeholder="Brand" value="<%= item.brand %>">
    <input class="new-item-input" type="text" name="size" placeholder="Size" value="<%= item.size %>">
    <input class="new-item-input" type="text" name="purchaseLocation" placeholder="Purchase Location" value="<%= item.purchaseLocation %>">    
    <input class="new-item-input" type="text" name="image" placeholder="Image Link" value="<%= item.image %>">
    <input class="new-item-submit" type="submit" value="Submit">
  </form>
</div>

<%- include('../partials/footer') %>