<%- include('../partials/header') %>


    <!-- <h1><%= title %></h1> -->

    <!-- <div class="image-grid">
        <div >
        <% item.forEach(function(i) { %>
           <div><a href="/closet/<%=i._id%>"><img src="<%= i.image %>"></a></div>
        </div>
    </div>
        <% }); %>
        <br>
    <% if (user) { %>
    <a href="/closet/new" <%- title === 'Add Item' ? 'class="active"' : '' %>>Add An Item</a>
    <% } else { } %> -->
  

<div id="border-box" class="image-grid">
    <% item.forEach(function(i) { %>
    <figure class="image-format"><a href="/closet/<%=i._id%>"><img src="<%= i.image %>"></a></figure>
    <% }); %>
</div>

    <%- include('../partials/footer') %>