<%- include('../partials/header') %>


        
<h1><%= title %></h1>

<div id="border-box" class="image-grid">
    <% item.forEach(function(i) { %>
    <figure class="image-format"><a href="/closet/<%=i._id%>"><img src="<%= i.image %>"></a></figure>
    <% }); %>
</div>
<% if (user) { %>
    <form action="/closet/new"">
    <button type="submit"> <a <%- title === 'Add Item' ? 'class="active"' : '' %>></a>Add Item</button>
</form>
<% } else { }%>
<%- include('../partials/footer') %>