<%- include('../partials/header') %>

<div class="category-and-image">

  <h2><span>Category:</span> <%= title %></h2>

  <div><img class="single-image" src="<%= item.image %>"></div>


<table>
  <thead>
    <tr>
      <th>Brand:</th>
      <th>Purchase Location:</th>
      <th>Size:</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= item.brand %></td>
      <td><%= item.purchaseLocation %></td>
      <td> <%= item.size %></td>
      <td>
        <form action="/closet/<%= item._id%>/edit">
          <button type="submit">Edit</button>
        </form>
      </td>
    </tr>
  </tbody>
</table>
<!-- <Button><a href="/closet/<%= item._id%>/edit">EDIT ITEM</a></Button> -->





<% if (item.additionalInfo.length) { %>
  <div>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Notes</th>
          <th>Sold?</th>
          <th></th>
        </tr>
      </thead>
      <% item.additionalInfo.forEach(function(info) { %>
        <tbody>
          <tr>
            <td><%= info.createdAt.toLocaleDateString() %></td>
            <td><%= info.notes %></td>
            <td><%= info.soldDonated ? 'Yes' : 'No' %></td>
            <td>
            
             <%if (user?._id.equals(info.user)) {%>
              <form action="/closet/<%= info._id %>?_method=DELETE" method="POST">
                <button type="submit">DELETE</button>
              </form>
                <% } %>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <% } else { %>
      <h5>You have not added additional information yet. </h5>
      <h3>Add Additional Info?</h3>
      <% } %>
      
      <form id="new-form" method="POST" action="/closet/<%= item._id %>/additionalInfo">
        <label>Notes:</label>
        <input type="text" name="notes">
        <label for="">Sold/Donated?</label>
        <input type="checkbox" name="soldDonated">
        <input type="submit" value="Add Notes">
      </form>
      
    </div>
        <%- include('../partials/footer') %>