<%- include('../partials/header') %>

<h2><%= title %></h2>

<section id="show-page">
    <div><img class="login" src="<%= item.image %>"></div>
    <br>
    <div>Brand:</div>
    <div><%= item.brand %></div>
    <br>
    <div>Purchase Location:</div>
    <div><%= item.purchaseLocation %></div>
    <br>
    <div>size:</div>
    <div><%= item.size %></div>
    <!-- <div>Notes:</div>
    <div><%= item.additionalInfo %></div>
    <br> -->
</section>

<h3>Add Additional Info?</h3>
<form id="new-form" action="/closet/<%= item._id %>/additionalInfo" method="POST">
    <label>Notes:</label>
    <input type="text" name="notes">
    <label for="">Sold/Donated?</label>
    <input type="checkbox" name="soldDonated" checked >
    <input type="submit" value="Add Notes">
</form>

<h3>Notes</h3>
<% if (item.additionalInfo.length) { %>
    <section>
        <% item.additionalInfo.forEach(function(info) { %>
        <div>+<%= info.notes %></div>
        <div>+<%= info.soldDonated ? 'Yes' : 'No' %></div>
    </section>
<% }); %>
<% } else { %>
    <h5>no Info yet</h5>
    <% } %>

<%- include('../partials/footer') %>